.card{
    display: inline-flex;
    position: relative;
    width: 60%;
    height: 50%;
    background-color: white;
    border-radius: 2vw;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    color: var(--colormain);
}
.card:hover{
    filter: drop-shadow(0 0 15px rgb(255, 255, 255));
}
.card p{
    width: 80%;
    font-size: 1.6rem;
    text-align: center;
}
.card span{
    display: inline-flex;
    justify-content: end;
    width: 80%;
    font-size: 1.2rem;
}
.card button{
    display: inline-flex;
    width: 11%;
    height: 20%;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.7rem;
    margin: 0 10%;
    background-color: var(--colormain);
}

.card button:active{
    transform: scale(.9);
}